body {
    background: #101010;
}

.avatar-choose {
    background: #161616;
    height: 100px;
    border-radius: 10px;
    margin-top: 1%;
    overflow: hidden;
}

.choose-image {
    width: inherit;
    height: inherit;
    transform: scale(1.8);
}

.avatar-select {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-row: 1;
    height: 100px;
    width: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    justify-items: stretch;
    align-content: space-between;
    align-self: center;
    margin-left: calc(-50vw + 622.5px + 10px)
}

.player {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    transition: top .5s ease-out, left .5s ease-out;
    animation-fill-mode: forwards;
    background: none;
    position: absolute;
    top: 0;
    left: 0
}

.me {
    z-index: 1;
}

#game {
    justify-self: center;
    height: 600px;
    position: absolute;
    top: calc(100px + 5%);
    background: #161616;
    border-radius: 10px;
    width: 1245px;
    margin-left: calc(50vw - 622.5px);
    overflow: hidden;
    margin-left: 10px;
    color: white;
}

.notices {
    margin-left: 10px;
    margin-top: 10px;
    position: absolute;
    z-index: 5;
    font-family: 'Roboto', sans-serif;
}