.chat {
  position: absolute;
  top: calc(10px + 8vh + 10px);
  left: 10px;
  background: rgba(18, 18, 18, 0.8);
  color: white;
  width: calc(((8vh*4) + (10px*3)) * 1.5);
  height: 25%;
  z-index: 2;
  border-radius: 10px;
}

.chatbox {
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  border: none;
  color: white;
  padding: 10px 0 10px 10px;
  margin-right: -10px;
  outline: none;
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.log {
  height: calc(100% - 45px);
  padding-right: 5px;
  overflow: scroll;
  overflow-x: hidden;
  padding-top: 10px;
  padding-left: 10px;
}

.message {
    margin-bottom: 5px;
    word-break: break-all;
}

::-webkit-scrollbar {
  display: none;
}
