.chat {
  position: absolute;
  top: calc(50px + 1% + 10px);
  left: 10px;
  background: rgba(18, 18, 18, 0.4);
  color: white;
  transition: 0.2s opacity linear;
  opacity: 1;
  width: 30%;
  height: 25%;
  z-index: 2;
  border-radius: 10px;
  &:hover {
    background: rgba(18, 18, 18, 0.8);
    .chatbox {
      background: rgb(16, 16, 16, 0.8);
    }
  }
}

.chatbox {
  width: 100%;
  background: rgb(16, 16, 16, 0.4);
  border: none;
  color: white;
  padding: 10px 0 10px 10px;
  margin-right: -10px;
  outline: none;
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.log {
  height: calc(100% - 45px);
  padding-right: 5px;
  overflow: scroll;
  overflow-x: hidden;
  padding-top: 10px;
  padding-left: 10px;
}

.message {
  margin-bottom: 5px;
  word-break: break-all;
}

::-webkit-scrollbar {
  display: none;
}
