@use "_variables.scss" as *;

.player {
  user-select: none;
  transition: top 0.5s ease-out, left 0.5s ease-out;
  animation-fill-mode: forwards;
  background: none;
  position: absolute;
  top: 0;
  left: 0;
}

.playerimage {
  width: 200px;
}

.me {
  z-index: 1;
}

#game {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: $game;
  width: 100%;
  overflow: hidden;
  color: white;
  transition: filter 0.5s linear;
  z-index: -1;
}
