@use "_variables.scss" as *;
@use "info.scss";
@use "chooser.scss";
@use "error.scss";
@use "game.scss";
@use "chat.scss";

* {
  box-sizing: border-box;
}

body {
  user-select: none;
  cursor: default;
  background: $body;
  font-family: $font;
}

.logo {
  width: 100px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: #ebebeb;
  padding: 20px;
  border-radius: 20px;
}

.red {
  display: contents;
  color: #ff6464;
}